@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --foreground-light-mode: #111827;
  --background-light-mode: #e8e6e6;
  --foreground-dark-mode: #e8e6e6;
  --background-dark-mode: #111827;
}

@theme inline {
  --color-background-light-mode: var(--background-light-mode);
  --color-foreground-light-mode: var(--foreground-light-mode);
  --color-background-dark-mode: var(--background-dark-mode);
  --color-foreground-dark-mode: var(--foreground-dark-mode);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-fira-code);
}

/* https://github.com/themesberg/flowbite-react/issues/1583#issuecomment-2974265404 */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply font-sans bg-background-light-mode text-foreground-light-mode dark:bg-background-dark-mode dark:text-foreground-dark-mode;
}
