@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --foreground-light-mode: #111827;
  --background-light-mode: #e8e6e6;
  --foreground-dark-mode: #e8e6e6;
  --background-dark-mode: #111827;
}

@theme inline {
  --color-background-light-mode: var(--background-light-mode);
  --color-foreground-light-mode: var(--foreground-light-mode);
  --color-background-dark-mode: var(--background-dark-mode);
  --color-foreground-dark-mode: var(--foreground-dark-mode);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-fira-code);
}

/* https://github.com/themesberg/flowbite-react/issues/1583#issuecomment-2974265404 */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply font-sans bg-background-light-mode text-foreground-light-mode dark:bg-background-dark-mode dark:text-foreground-dark-mode;
}

/* NProgress styles */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-pink-500 dark:bg-yellow-300 fixed z-100 top-0 left-0 w-full h-1;
}

#nprogress .peg {
  @apply block absolute right-0 w-[100px] h-full opacity-100 rotate-3 translate-x-0 -translate-y-1 shadow-[0_0_10px_#3b82f6,0_0_5px_#3b82f6];
}

#nprogress .spinner {
  @apply hidden;
}

/* Article styles */

#article {
  @apply leading-relaxed;
}

#article h1 {
  @apply mb-2.5 text-7xl;
}

#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  @apply mb-4 font-bold tracking-tighter;
}

#article h2 {
  @apply text-4xl leading-9 pb-1;
}

#article h2:after {
  @apply block h-16 max-w-1/3 mt-2;
}

#article h3 {
  @apply text-3xl;
}

#article h3:after {
  @apply block h-16 max-w-1/3 mt-2;
}

#article h4 {
  @apply text-2xl;
}

#article h5 {
  @apply text-base;
}

#article p,
#article td,
#article th {
  @apply mb-8 leading-9 text-xl font-light;
}

#article li {
  @apply mb-0.5 leading-9 text-xl font-light;
}

#article table {
  @apply w-full mb-6 border-l border-pink-600;
}

#article th {
  @apply font-bold bg-pink-600 text-white text-left;
}

#article th,
#article td {
  @apply transition-colors duration-300 ease-in-out border-r border-b border-pink-600 px-1 py-2;
}

#article th:hover,
#article td:hover {
  @apply bg-pink-600 text-white;
}

#article a {
  @apply bg-clip-text text-transparent bg-linear-to-r from-pink-500 to-pink-600 dark:from-yellow-300 dark:to-yellow-400 font-bold hover:from-green-300 hover:to-green-400;
}

#article ul,
#article ol {
  @apply list-disc ml-6 mb-6;
}

#article ol li,
#article ul li {
  @apply list-outside pl-2;
}

#article ol {
  @apply list-decimal;
}

#article blockquote {
  @apply border-l-8 border-pink-600 pl-4 mb-8;
}

#article hr {
  @apply border-t-2 border-dashed border-gray-300 mb-8;
}

#article img {
  @apply max-w-full mx-auto;
}

#article strong {
  @apply font-bold;
}

#article pre > div {
  @apply border-4 border-gray-200! dark:bg-gray-800! dark:border-gray-700!;
}

#article .title {
  @apply bg-gray-200! dark:bg-gray-800! rounded-none! px-4 py-2 text-black/40 dark:text-white/40;
}

#article pre div,
#article code {
  @apply bg-white! rounded-md! dark:bg-slate-900!;
}

#article pre code {
  @apply border-0!;
}

#article code {
  @apply border-2! border-gray-200 dark:border-gray-700 print:border-gray-200!;
}

#article code code {
  @apply border-0!;
}

#article pre button {
  @apply bg-gray-200! border-gray-400! text-gray-800! dark:bg-gray-700! dark:border-gray-600! dark:text-gray-200! hover:border-pink-400! dark:hover:border-yellow-200!;
}

@media print {
  page {
    @apply m-0 p-4;
  }

  * {
    @apply bg-white text-black;
  }

  body p,
  body li,
  body a {
    @apply text-sm;
  }

  #article a::after {
    content: ' (' attr(href) ')';
  }

  #article .heading-anchor,
  #article .heading {
    @apply hidden;
  }
  #article a {
    @apply text-blue-500 underline inline;
  }

  #article a svg {
    @apply hidden;
  }

  #article pre > div {
    @apply border-0 overflow-visible;
  }

  #article pre div,
  #article code,
  #article p code {
    @apply bg-white!;
  }

  #article .title {
    @apply hidden;
  }
}
